@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/*Global styles*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    font-family: "Exo 2", sans-serif;
    background-image: url("../img/butterflys.jpg");
    background-color: #ff7f00;);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
}

/*navbar*/

a.navbar-brand{
    color:#fff !important;
    font-size: 2rem;
    font-weight:bolder
}

.btn-theme{
    color:#fff;
    font-weight:400;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff;
    padding: 12px;
    margin-top:10px;
    margin-top:0px;
    cursor: pointer;
}

 
/*title & score section styles*/
.container{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color:#000;
    max-width: 650px;
    margin: 20px auto;
    border: 6px solid #ff7f00;;
    border-radius:20px; 
    box-shadow: 
            0 0 .5rem #fff,
            0 0 .5rem #fff,
            0 0 .8rem  #fff,
            0 0 0.5rem #fff,
            0 0 0.5rem #fff,
            inset 0 0 0.1rem #fff;
}

/*game board styles*/
.title{
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    font-weight:400;
    color:#fff;
  }

h2 {
    font-size: 1rem;
    font-weight:400;
  } 

  .score-area{
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#fff;
}

.scores{
    display: inline-block;
    padding: 10px;
}

.score-area span{
    padding:10px;
}

.square {
    max-width: 650px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

.card {
    position:relative;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    margin: 5px;
    border-radius:10px;
    background-color: #999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;       
}

.card,
.back,
.front{
    height: 150px;
    width: 150px;
}

.back,
.front{
    position:absolute;
    border: 2px solid white !important;
    border-radius:10px;
    box-shadow: 
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 .8rem  #fff,
            0 0 0.3rem #fff,
            0 0 0.3rem #fff,
            inset 0 0 0.1rem #fff;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
}

.front{
    background: #ff7f00 url('../img/bug.png') no-repeat center center / contain;
    border: 5px solid white !important;
}

.back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.squareclick {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.ismatch .front{
    background: rgb(255, 127, 0)!important;
    border: 5px solid white !important;
}

.btn:hover{
    background-color: #ff7f00;
    color: #fff;
}


/*reset button styling*/

.control-btn1 , .control-btn2 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.2rem;
    border-radius:10px;
    background-color:#ff7f00;
    margin-bottom:10px;
    padding:10px 20px;
    cursor:pointer; 
}

.footer-container{
    background-color:#000;
    color: #fff;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding:20px;

}

footer a {
    color:#fff;
    font-size: 1rem;
}

#copyright {
    text-transform: capitalize;
}

/* 404 styles*/
 html, main {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-button{
    font-family: "Exo 2", sans-serif;
    font-weight:400;
    text-transform: uppercase;
    color:#fff;
    background-color: #ff7f00;
    font-size: 1.2rem;
    border-radius:5px;
    padding: 15px;
    margin:10px 0px 10px 0px;
    cursor:pointer;
}

.image-container {
    text-align:center;
}

.bug2{
    width:300px;
}

.text-box{
    padding: 0 20px;
}
