@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/*Global styles*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    font-family: "Exo 2", sans-serif;
    background-image: url("../img/butterflys.jpg");
    background-color: #ff7f00;);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
}

/*navbar*/

a.navbar-brand{
    color:#fff !important;
    font-size: 2rem;
    font-weight:bolder
}

.btn-contact{
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #fff;
    padding: 12px;
    margin-top:10px;
    margin-top:0px;
    cursor: pointer;
}

.submit-button{
    background-color: #ff7f00;
    border:0px;
    padding: 12px;
}

.submit-button:active{
    background-color: #721d83;  
} 

.container{
    background-color:#000;
    max-width: 650px;
    margin: 20px auto;
    padding-bottom:20px;
    border: 6px solid #ff7f00;;
    border-radius:20px; 
    box-shadow: 
            0 0 .5rem #fff,
            0 0 .5rem #fff,
            0 0 .8rem  #fff,
            0 0 0.5rem #fff,
            0 0 0.5rem #fff,
            inset 0 0 0.1rem #fff;
}

/*game board styles*/
.title{
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    font-size: 4rem;
    font-weight:800;
  }

h2 {
    font-size: 1.2rem;
  } 

  .score-area{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: px;
    color:#fff;
    padding-top:20px
}

.scores{
    display: inline-block;
    padding: 20px;
    ;
}
.score-area span{
    padding:20px;
}

#score {
    font-size: 2.5rem;
    font-weight: 800;
}

.square {
    max-width: 650px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

.card {
    position:relative;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    margin: 5px;
    border-radius:10px;
    background-color: #999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;       
}

.card,
.back,
.front{
    height: 150px;
    width: 150px;
}

.back,
.front{
    position:absolute;
    border: 2px solid white !important;
    border-radius:10px;
    box-shadow: 
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 .8rem  #fff,
            0 0 0.3rem #fff,
            0 0 0.3rem #fff,
            inset 0 0 0.1rem #fff;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
}

.front{
    background: #ff7f00 url('../img/bug.png') no-repeat center center / contain;
    border: 5px solid white !important;
}

.back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.squareclick {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.ismatch .front{
    background: rgb(255, 127, 0)!important;
    border: 5px solid white !important;
}

.btn:hover{
    background-color: #ff7f00;
    color: #fff;
}

/*.controls{
    max-width: 650px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; 
}*/

/*reset button styling*/

#playagain{
    font-family: Roboto, sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    color: rgb(63, 2, 113);
    font-size: 1.2rem;
    border-radius:5px;
    padding: 15px;
    margin:10px 0px 10px 0px;
    cursor:pointer;
}

#playagain:hover{
    background-color: #ff7f00;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

/* 404 styles*/
.return-button{
    font-family: Roboto, sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    color: rgb(63, 2, 113);
    font-size: 1.2rem;
    border-radius:5px;
    padding: 15px;
    margin:10px 0px 10px 0px;
    cursor:pointer;
}

.bg-not-here{
    background-color:rgb(63, 2, 113);
    color:#fff !important;
}
.footer-container{
    background-color:#000;
}