@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');
/*Global styles*/
body{
    font-family: Poppins, sans-serif;
    background-color: rgb(63, 2, 113);
}

/*navbar*/

a.navbar-brand{
    color:#fff !important;
    font-size: 2rem;
    font-weight:bolder
}

.btn-contact{
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #fff;
    padding: 12px;
    margin-top:10px;
    margin-top:0px;
    cursor: pointer;
}

.submit-button{
    background-color: #ff7f00;
    border:0px;
    padding: 12px;
}

.submit-button:active{
    background-color: #721d83;  
} 

/*game board styles*/
.title{
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    font-size: 1.8rem;
    font-weight:800;
  }

h2 {
    font-size: 1.2rem;
  } 

#score {
    font-family: Poppins, sans-serif;
    font-weight:bold;
    color: rgb(63, 2, 113);
    font-size: 22px;
    font-weight:600;
    margin-top: 0;
    padding: 12px 25px;
    border-radius:5px;
    margin-bottom:5px;
}

.square {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.card {
    position:relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    border-radius:10px;
    background-color: #999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;       
}

.card,
.back,
.front{
    height: 150px;
    width: 150px;
}

.back,
.front{
    position:absolute;
    backface-visibility:hidden;
}

.front{
    background: #ff7f00 url('../img/q-mark.png') no-repeat center center / contain;
    border: 5px solid white !important;
}

.back{
    transform: rotateY(180deg);
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.squareclick {
    transform: rotateY(180deg);
}

.ismatch .front{
    background: rgb(63, 2, 113)!important;
    border: 5px solid white !important;
}

.btn:hover{
    background-color: #ff7f00;
    color: #fff;
}

.controls{
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

/*reset button styling*/

.playagain{
    font-family: Poppins, sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    color: rgb(63, 2, 113);
    font-size: 1.2rem;
    border-radius:5px;
    padding: 15px;
    margin:10px 0px 10px 0px;
    cursor:pointer;
}

.playagain:hover{
    background-color: #ff7f00;
    color: #fff;
    transition: 0.2s;
}

