@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');

body{
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    color:#fff;
    background-color: rgb(63, 2, 113);
    max-width:650px;
    margin: 0 auto;
    
}

#score {
    font-family: Poppins, sans-serif;
    font-weight:600px;
    color: rgb(63, 2, 113);
    font-size: 1.5rem;
    font-weight:600;
    margin-top: 0;
    padding: 1rem 1.5rem;
    border-radius:10px;
}

.square {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.card {
    position:relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    border-radius:10px;
    background-color: #999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;       
}

.card,
.back,
.front{
    height: 150px;
    width: 150px;
}

.back,
.front{
    position:absolute;
    backface-visibility:hidden;
}

.front{
    background: yellow url('../img/q-mark.png') no-repeat center center / contain;
}

.back{
    transform: rotateY(180deg);
    background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}

.squareclick {
    transform: rotateY(180deg);
}

.ismatch .front{
    background: white !important;
    
}

   
button{
    font-family: Poppins, sans-serif;
    font-weight:600px;
    color: rgb(63, 2, 113);
    font-size: 1.5rem;
    font-weight:600;
    padding: 1rem 1.5rem;
    border-radius:10px;
    cursor:pointer;
}

